* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    .card {
        display: flex;
        justify-content: center;
        margin: 50px auto;
        width: 700px;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        .image {
            flex: 1;
            img {
                max-width: 100%;
                height: 100%;
            }
        }
        .info  {
            flex: 1;
            padding: 30px 0 30px 30px;
            > span {
                color: hsl(228, 12%, 48%);
                letter-spacing: 4px;
                text-transform: uppercase;
            }
            h1 {
                margin: 20px 100px 20px 0;
                font-family: 'Fraunces', serif;
                font-weight: 700;
                line-height: 1;
            }
            p {
                margin: 30px 70px 30px 0;
                color: hsl(228, 12%, 48%);
                line-height: 1.6;
            }
            .price {
                display: flex;
                align-items: center;
                .original {
                    color: hsl(158, 36%, 37%);
                    font-size: 35px;
                    font-family: 'Fraunces', serif;
                    margin-right: 20px;
                }
                .removed {
                    text-decoration: line-through;
                    color: hsl(228, 12%, 48%);
                }
            }
            button {
                width: calc(100% - 30px);
                margin-top: 40px;
                padding: 20px 0;
                border-radius: 5px;
                border: none;
                background-color: hsl(158, 36%, 37%);
                color: white;
                font-size: 16px;
                cursor: pointer;
                transition: 0.3s;
                img {
                    margin-right: 10px;
                    width: 17px;
                }
                &:hover {
                    background-color: hsl(212, 21%, 14%);
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .card {
        flex-direction: column;
        width: 400px !important;
        margin-top: 30px !important;
        h1 {
            margin: 10px 100px 0 0 !important;
        }
        p {
            margin: 10px 20px 10px 0 !important;
        }
        button {
            margin-top: 10px !important;
        }
    }
}
@media (max-width: 400px) {
    .card {
        width: 300px !important;
        h1 {
            margin: 10px 0 0 0 !important;
        }
    }
    
}
